.homoS{
    font-family: 'Press Start 2P', cursive;
    height: 60vh;
    display: block;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    color: #fff700;
    text-shadow: 0 0 10px #fff82d;
    font-size: 500%;
    margin-top: 20vh;
}
